<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duc.vcam">

    <!-- Xin quyền đọc bộ nhớ để chọn ảnh -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application 
        android:label="Omni VCam Pro"
        android:allowBackup="true">
        
        <!-- Màn hình giao diện chính để chọn ảnh -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Khai báo cấu hình Xposed Module -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Fake camera bằng ảnh tĩnh tự chọn từ thư viện." />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
